body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#input1{
    border: none;
    outline: none;
}

#input{
    border: 1px solid tomato;
    border-radius: 10px;
    padding: 12px 15px;
}